#spinner {
    width: 30px;
    height: 30px;
}

.table-fixed {
    width: 100%
}

.table-fixed > thead,
.table-fixed > tbody,
.table-fixed > thead > tr,
.table-fixed > tbody > tr,
.table-fixed > thead > tr > th,
.table-fixed > tbody > tr > td {
    display: block;
}

.table-fixed > tbody > tr:after,
.table-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-fixed > tbody {
    overflow-y: auto;
    height: 400px;
}

.table-fixed > tbody > tr > td,
.table-fixed > thead > tr > th {
    width: 33%;
    float: left;
}